@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./styles/settings";

.zzHlKp_IVmgXBPV3Jv58 {
    min-height: 0 !important;

    .D9WLyEQaARfWqCTyVrpU {
        width: max-content !important;
        box-shadow: none !important;

        .sJcgXLqA2Va2eqymgksg {
            width: 400px !important;
        }
    }
}

// .sCsSbKP9yxvw4LQAeaTz {
//     min-width: 100% !important;
//     width: 100% !important;
// }